@use "./background.scss";
@use "./clock.scss";


*, *,::after, *::before {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  
}




@media (min-width: 0px) and (max-width: 759px) {
  
  body {
    background-color: #797474;
  }
  .card-example-page-btn{
    width: 40px;
    height: 70px;
    border-radius: 40px;
    font-size: 20px;
    color: #17301C70;
    background:#ffffff00;
    padding: 0;
    border: none;
    background: none;
    text-decoration: none;
  
    
  }
  
  .card-example-page-1, .card-example-page-2,           .card-example-page-3, .card-example-page-4,           .card-example-page-5, .card-example-page-6,           .card-example-page-7, .card-example-page-8,           .card-example-page-9, .card-example-page-10,          .card-example-page-11, .card-example-page-12,
.card-example-page-13, .card-example-page-14,           .card-example-page-15, .card-example-page-16,           .card-example-page-17, .card-example-page-18,           .card-example-page-19, .card-example-page-20,           .card-example-page-21, .card-example-page-22,           .card-example-page-23, .card-example-page-24,           .card-example-page-25, .card-example-page-26,           .card-example-page-27, .card-example-page-28,           .card-example-page-29, .card-example-page-20,           .card-example-page-31, .card-example-page-32,           .card-example-page-33, .card-example-page-34,           .card-example-page-35, .card-example-page-36 {
 
  
  display: none;
  
  
} 

.clock {
  width: 200px;
  height: 200px;
  // background-color: rgba(255, 255, 255, .1) ;
  background-color: rgba(192, 224, 179, 0.527) ;
  border-radius: 50%;
  border: 2px solid black;
  position: fixed;
  font-size: 1.5rem;

  }

}

.clock {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  top: 50%;
  
  transform: translate(-50%, -50%);
  margin-bottom: 100px;
  z-index: 10;
 
}

@media (min-width: 760px) and (max-width: 1024px) {
  
  body {
    background-color: #797474;
  }
  .card-example-page-btn{
    width: 40px;
    height: 70px;
    border-radius: 40px;
    font-size: 20px;
    color: #17301C70;
    background:#ffffff00;
    padding: 0;
    border: none;
    background: none;
    text-decoration: none;
  
    
  }
  
  .card-example-page-1, .card-example-page-2,           .card-example-page-3, .card-example-page-4,           .card-example-page-5, .card-example-page-6,           .card-example-page-7, .card-example-page-8,           .card-example-page-9, .card-example-page-10,          .card-example-page-11, .card-example-page-12,
.card-example-page-13, .card-example-page-14,           .card-example-page-15, .card-example-page-16,           .card-example-page-17, .card-example-page-18,           .card-example-page-19, .card-example-page-20,           .card-example-page-21, .card-example-page-22,           .card-example-page-23, .card-example-page-24,           .card-example-page-25, .card-example-page-26,           .card-example-page-27, .card-example-page-28,           .card-example-page-29, .card-example-page-20,           .card-example-page-31, .card-example-page-32,           .card-example-page-33, .card-example-page-34,           .card-example-page-35, .card-example-page-36 {
 
  
  display: none;
  
  
} 

.clock {
  width: 400px;
  height: 400px;
  // background-color: rgba(255, 255, 255, .1) ;
  background-color: rgba(192, 224, 179, 0.527) ;
  border-radius: 50%;
  border: 2px solid black;
  position: fixed;
  font-size: 1.5rem;

  

}

.clock {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  top: 50%;
  
  transform: translate(-50%, -50%);
  margin-bottom: 100px;
  z-index: 10;
 
  }

    
}



